@charset "utf-8";
@import url(pretendard.css);
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype");
}

.visitPopLast {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: left;
    display: none;
}

.visitPopLast * {
    font-family: 'Noto Sans KR' !important;
}

.visitPopLast .bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .7);
}

.visitPopLast .in {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -83px 0 0 -212px;
    width: 424px;
    padding: 45px;
    z-index: 200;
    background: #fff;
    text-align: center;
}

.visitPopLast .in .tit01 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 16px;
    margin-bottom: 13px;
}

.visitPopLast .in .tit02 {
    font-size: 16px;
    font-weight: 300;
    color: #888888;
    line-height: 20px;
}

.visitPopLast .in .close {
    position: absolute;
    right: 20px;
    top: 20px;
    text-indent: -999em;
    background: url('../images/visit/close.png') center no-repeat;
    width: 21px;
    height: 20px;
}

.visitPop {
    font-family: 'Noto Sans KR' !important;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
    text-align: left;
    background: rgba(0, 0, 0, .5);
}

.visitPop * {
    font-family: 'Noto Sans KR' !important;
}

.visitPop .in {
    position: absolute;
    left: 50%;
    top: 5%;
    margin: 0 0 0 -285px;
    width: 570px;
    padding: 50px;
    z-index: 100;
    background: #fff;
    overflow-y: auto;
    max-height: 80vh;
}

.visitPop .in::-webkit-scrollbar {
    width: 8px;
}

.visitPop .in::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.visitPop .in:after {
    content: '';
    display: block;
    clear: both;
}

.visitPop .in .radio:after {
    content: '';
    display: block;
    clear: both;
}

.visitPop .in .radio div {
    float: right;
}

.visitPop .in .radio div:first-child {
    float: left;
}

.visitPop .in .radio input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.visitPop .in .radio label {
    text-align: center;
    border: 1px solid #eaeaea;
    font-size: 16px;
    color: #aaaaaa;
    font-weight: 300;
    width: 224px;
    height: 55px;
    line-height: 55px;
    display: inline-block;
    vertical-align: middle;
}

.visitPop .in .radio input:checked+label {
    color: #000000;
    font-weight: 500;
    border: none;
}

.visitPop .in .radio input:checked+label.color03 {
    background: #d1e0ea;
}

.visitPop .in .radio input:checked+label.color04 {
    background: #edd9d9;
}

.visitPop .in .radio input:checked+label.color01 {
    background: #ba4343;
    color: #fff;
}

.visitPop .in .radio input:checked+label.color02 {
    background: #437cac;
    color: #fff;
}

.visitPop .in .left {}

.visitPop .in .right {
    display: none;
}

.visitPop .in .title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 20px;
    color: #000000;
    font-weight: 700;
    padding-left: 27px;
    background: url('../images/visit/ico01.png') left center no-repeat;
}

.visitPop .in .visitTb {
    width: 100%;
    margin-top: 10px;
}

.visitPop .in .visitTb th {
    vertical-align: middle;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    padding: 0 0 0 7px;
    border-bottom: 1px solid #eaeaea;
}

.visitPop .in .visitTb td {
    border-bottom: 1px solid #eaeaea;
}

.visitPop .in .visitTb td input {
    border: none;
    width: 100%;
    height: 64px;
    font-weight: 300;
    color: #000000;
    font-size: 14px;
    outline: none;
}

.visitPop .in .btn {
    text-align: center;
    top: auto;
    padding-top: 30px;
}

.visitPop .in .btn:after {
    content: '';
    display: block;
    clear: both;
}

.visitPop .in .btn a {
    display: block;
    height: 80px;
    line-height: 80px;
    background: #000000;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.visitPop .in .btn a.btn03 {
    float: left;
    background: #fff;
    border: 1px solid #f2f2f2;
    color: #222222;
    width: 28%;
    font-weight: 500;
}

.visitPop .in .btn a.btn02 {
    float: right;
    width: 70%;
    cursor: pointer;
}

.visitPop .in .btn a span {
    font-weight: 500;
}

.visitPop .in .close {
    position: absolute;
    right: 30px;
    top: 52px;
    text-indent: -999em;
    background: url('../images/visit/close.png') center no-repeat;
    background-size: 14px auto;
    width: 21px;
    height: 20px;
}

.visitPop .in .visitTb td ::-webkit-input-placeholder {
    color: #aaaaaa;
    font-family: 'Noto Sans KR' !important;
    font-size: 14px;
    font-weight: 300;
}

.visitPop .in .visitTb td :-moz-placeholder {
    color: #aaaaaa;
    opacity: 1;
    font-family: 'Noto Sans KR' !important;
    font-size: 14px;
    font-weight: 300;
}

.visitPop .in .visitTb td ::-moz-placeholder {
    color: #aaaaaa;
    opacity: 1;
    font-family: 'Noto Sans KR' !important;
    font-size: 14px;
    font-weight: 300;
}

.visitPop .in .visitTb td :-ms-input-placeholder {
    color: #aaaaaa;
    font-family: 'Noto Sans KR' !important;
    font-size: 14px;
    font-weight: 300
}

.visitInfoPop {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: left;
    display: none;
}

.visitInfoPop .bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
}

.visitInfoPop .in {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: 0 0 0 -240px;
    transform: translateY(-50%);
    width: 480px;
    z-index: 100;
}

.visitInfoPop .in .today {
    text-align: right;
    margin-bottom: 10px;
    padding-right: 10px;
}

.visitInfoPop .in .today a {
    text-align: right;
    padding-right: 24px;
    font-size: 16px;
    line-height: 16px;
    color: #feffff;
    font-weight: 300;
    background: url('../images/visit/visitBtn01.png') right center no-repeat;
    display: inline-block;
    vertical-align: top;
    background-size: 14px auto;
    font-family: 'Noto Sans KR' !important;
}

.visitInfoPop .in .round {
    border-radius: 10px;
    overflow: hidden;
}

.visitInfoPop .in .round .img img {
    width: 100%;
}

.visitInfoPop .in .round .text {
    background: url('../images/visit/visitBg02.png') center no-repeat;
    background-size: 100% 100%;
    padding: 36px 25px 60px 25px;
    text-align: center;
    font-family: 'NotoSerifKr' !important;
}

.visitInfoPop .in .round .text .tit01 {
    font-size: 19px;
    color: #444444;
    font-weight: 300;
    padding-bottom: 25px;
    margin-bottom: 23px;
    background: url('../images/visit/visitBtn02.png') bottom center no-repeat;
    background-size: 40px auto;
}

.visitInfoPop .in .round .text .tit01 span {
    font-weight: 700;
}

.visitInfoPop .in .round .text .tit02 {
    font-size: 16px;
    color: #444444;
    font-weight: 300;
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px dashed #eaeaea;
}

.visitInfoPop .in .round .text .tit03 {
    font-size: 16px;
    color: #444444;
    font-weight: 300;
    font-family: 'Noto Sans KR' !important;
}

.visitInfoPop .in .btn {
    padding-top: 20px;
    text-align: center;
}

.visitInfoPop .in .btn a {
    font-size: 19px;
    color: #feffff;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-family: 'NotoSerifKr' !important;
}

.visitInfoPop .in .btn a:first-child {
    margin-right: 45px;
    padding-right: 50px;
}

.visitInfoPop .in .btn a:first-child:after {
    content: '';
    position: absolute;
    right: 0;
    top: 5px;
    width: 2px;
    height: 20px;
    background: #ffffff;
}

.visitPop .in {
    padding: 50px;
}

.visitPop .in .left {}

.visitPop .in .right {}

.visitPop .in .titVisit {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    clear: both;
    color: #222222;
    font-weight: 700;
    padding-bottom: 45px;
    margin-bottom: 45px;
    border-bottom: 1px solid #eaeaea;
}

.visitPop .in .title {
    padding-left: 40px;
    line-height: 24px;
    background: url('../images/visit/ico_visit01.png') left center no-repeat;
}

.visitPop .in .radio {
    margin-bottom: 10px;
}

.visitPop .in .radio label.color03:before {
    content: '';
    margin-right: 4px;
    position: relative;
    top: -3px;
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    background: url('../images/visit/ico_visit02.png') left center no-repeat;
}

.visitPop .in .radio input:checked+label.color03 {
    color: #689ef7;
    background: #fff;
    border: 1px solid #689ef7;
}

.visitPop .in .radio input:checked+label.color03:before {
    background: url('../images/visit/ico_visit02_on.png') left center no-repeat;
}

.visitPop .in .radio label.color04:before {
    content: '';
    margin-right: 4px;
    position: relative;
    top: -3px;
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    background: url('../images/visit/ico_visit03.png') left center no-repeat;
}

.visitPop .in .radio input:checked+label.color04 {
    color: #f76868;
    background: #fff;
    border: 1px solid #f76868;
}

.visitPop .in .radio input:checked+label.color04:before {
    background: url('../images/visit/ico_visit03_on.png') left center no-repeat;
}

.visitPop .in .radio input:checked+label.color01 {
    background: #f76868;
}

.visitPop .in .radio input:checked+label.color02 {
    background: #689ef7;
}

.visitPop .in .agreeVisit {
    margin-top: 30px;
    padding: 20px 20px;
    border: 1px solid #f2f2f2;
}

.visitPop .in .agreeVisit .tit01 {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 15px;
}

.visitPop .in .agreeVisit .tit02 {
    font-size: 14px;
    color: #aaaaaa;
    font-weight: 300;
    margin-bottom: 15px;
}

.visitPop .in .agreeVisit .ck input {
    position: absolute;
    visibility: hidden;
}

.visitPop .in .agreeVisit .ck label {
    position: relative;
    padding-left: 37px;
    font-size: 18px;
    color: #222222;
    font-weight: 300;
}

.visitPop .in .agreeVisit .ck label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 22px;
    height: 22px;
    border: 1px solid #222;
}

.visitPop .in .agreeVisit .ck input:checked+label:after {
    width: 24px;
    height: 24px;
    border: none;
    background: url('../images/visit/ico_visit01.png') left center no-repeat;
}

.visitPop .in .btnNext {
    text-align: right;
    margin-top: 50px;
}

.visitPop .in .btn01 {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 150px;
    height: 60px;
    line-height: 60px;
    background: #000000;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.visitPop .in .addRsvpList {
    margin: 30px 0;
}

.visitPop .in .addRsvpList ul li {
    margin-top: 15px;
}

.visitPop .in .addRsvpList ul li input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.visitPop .in .addRsvpList ul li label {
    display: block;
    position: relative;
    padding-left: 25px;
}

.visitPop .in .addRsvpList ul li label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #cccccc;
    border-radius: 50%;
}

.visitPop .in .addRsvpList ul li input:checked+label:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 7px;
    height: 7px;
    background: #3b85ff;
    border-radius: 50%;
}

.visitPop .in .addRsvpList ul li input:checked+label:after {
    border: 1px solid #3b85ff;
}

.visitPop .in .addRsvpList ul li label em {
    display: block;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #000000;
}

.visitPop .in .addRsvpList ul li label span {
    display: block;
    font-size: 11px;
    line-height: 11px;
    font-weight: 300;
    color: #aaaaaa;
}

.visitPop .in .addRsvpListPoll {
    margin: 30px 0;
}

.visitPop .in .addRsvpListPoll ul li {
    margin-top: 15px;
}

.visitPop .in .addRsvpListPoll ul li input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.visitPop .in .addRsvpListPoll ul li label {
    display: block;
    position: relative;
    padding-left: 25px;
}

.visitPop .in .addRsvpListPoll ul li label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #cccccc;
    border-radius: 50%;
}

.visitPop .in .addRsvpListPoll ul li input:checked+label:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 7px;
    height: 7px;
    background: #3b85ff;
    border-radius: 50%;
}

.visitPop .in .addRsvpListPoll ul li input:checked+label:after {
    border: 1px solid #3b85ff;
}

.visitPop .in .addRsvpListPoll ul li label em {
    display: block;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #000000;
}

.visitPop .in .addRsvpListPoll ul li label span {
    display: block;
    font-size: 11px;
    line-height: 11px;
    font-weight: 300;
    color: #aaaaaa;
}

.vReq {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    background: #f76767;
    border-radius: 50%;
    margin-left: 6px;
    position: relative;
    top: -10px;
}

.visitInfoPop.v2 {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: left;
    display: none;
}

.visitInfoPop.v2 * {
    font-family: 'Pretendard', serif !important;
}

.visitInfoPop.v2 .bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .45);
}

.visitInfoPop.v2 .in {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: 0 0 0 -245px;
    transform: translateY(-50%);
    width: 490px;
    z-index: 100;
}

.visitInfoPop.v2 .in .round {
    border-radius: 22px;
    overflow: hidden;
    background-color: #fff;
    color: #222;
    padding: 60px 37px 34px;
    position: relative
}

.visitInfoPop.v2 .in .round .img img {
    width: 100%;
}

.visitInfoPop.v2 .in .tit01 {
    font-size: 27px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-bottom: 39px;
}

.visitInfoPop.v2 .in .txt01 {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    letter-spacing: -0.02em;
    line-height: 1.6;
    padding-bottom: 30px;
}

.visitInfoPop.v2 .in .part {
    border-top: 1px dashed #ddd;
    padding: 35px 13px 47px
}

.visitInfoPop.v2 .in .wdList>li {
    font-size: 18px;
    font-weight: 300;
    color: #222;
    padding-left: 25px;
    position: relative;
    margin-bottom: 7px;
    letter-spacing: -0.02em;
    line-height: 26px;
}

.visitInfoPop.v2 .in .wdList>li:last-child {
    margin-bottom: 0
}

.visitInfoPop.v2 .in .wdList>li:before {
    display: block;
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 17px;
    height: 17px;
    background-position: 50% 50%;
    background-repeat: no-repeat
}

.visitInfoPop.v2 .in .wdList .people {
    font-weight: 500;
}

.visitInfoPop.v2 .in .wdList .people:before {
    background-image: url(../images/visit/icon_heart.png)
}

.visitInfoPop.v2 .in .wdList .date:before {
    background-image: url(../images/visit/icon_calendar.png)
}

.visitInfoPop.v2 .in .wdList .hall:before {
    background-image: url(../images/visit/icon_location2.png)
}

.visitInfoPop.v2 .btnClose {
    position: absolute;
    top: 24px;
    right: 24px;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/visit/icon_close2.png) 50% 50% no-repeat;
    background-size: 17px auto;
    font-size: 0;
    color: transparent
}

.visitInfoPop.v2 .in .today {
    text-align: center !important;
    padding-top: 36px;
    padding-right: 0;
}

.visitInfoPop.v2 .in .today a {
    line-height: 24px;
    font-family: 'Pretendard', serif !important;
    padding-left: 29px !important;
    font-size: 21px !important;
    font-weight: 500 !important;
    color: #ccc !important;
    background: url(../images/visit/icon_check.png) 0 50% no-repeat !important;
}

.visitInfoPop.v2 .in .btns {
    border: none;
}

.visitInfoPop.v2 .in .btns.t2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #f9f0e6;
    color: #000;
    font-size: 21px;
    border-radius: 12px;
    font-weight: 500
}

.visitInfoPop.v2 .in .btns.t2 span {
    position: relative;
}

.visitInfoPop.v2 .in .btns.t2 span.attend {
    padding-left: 24px;
}

.visitInfoPop.v2 .in .btns.t2 span.attend:before {
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    width: 16px;
    height: 19px;
    background-image: url(../images/visit/icon_attend.png);
    background-size: 16px auto;
    margin-top: -8px;
}

@media all and (max-width:1024px) {
    .visitPop .in {
        left: 0;
        top: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        overflow-y: auto;
        padding: 60px 23px;
        max-height: 100%;
    }
    .visitPop .in .radio {
        margin-bottom: 0;
    }
    .visitPop .in .radio div {
        width: 49%
    }
    .visitPop .in .radio label {
        font-size: 14px;
        color: #aaaaaa;
        font-weight: 300;
        width: 100%;
        height: 40px;
        line-height: 40px;
    }
    .visitPop .in .left {
        float: none;
        width: 100%;
    }
    .visitPop .in .right {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
    .visitPop .in .title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
        color: #000000;
        font-weight: 500;
        padding-left: 22px;
        background: url('../images/visit/ico01_m.png') left 2px no-repeat;
        background-size: 15px auto;
        ;
    }
    .visitPop .in .visitTb {
        width: 100%;
        margin-top: 0;
    }
    .visitPop .in .visitTb colgroup col:first-child {
        width: 75px !important;
    }
    .visitPop .in .visitTb th {
        vertical-align: middle;
        color: #000000;
        font-size: 12px;
        font-weight: 500;
        padding: 0 0 0 5px;
    }
    .visitPop .in .visitTb td {
        border-bottom: 1px solid #eaeaea;
    }
    .visitPop .in .visitTb td input {
        border: none;
        width: 100%;
        height: 64px;
        font-weight: 300;
        color: #000000;
        font-size: 12px;
        outline: none;
    }
    .visitPop .in .btn {
        position: static;
        width: 100%;
        text-align: center;
        margin-top: 0;
    }
    .visitPop .in .btn a {
        display: block;
        height: 60px;
        line-height: 60px;
        background: #000000;
        font-size: 14px;
        font-weight: 300;
        color: #fff;
    }
    .visitPop .in .close {
        right: 20px;
        top: 20px;
        background: url('../images/visit/close_m.png') center no-repeat;
        background-size: 14px auto;
        width: 14px;
        height: 14px;
    }
    .visitPop .in .visitTb td ::-webkit-input-placeholder {
        color: #aaaaaa;
        font-family: 'Noto Sans KR' !important;
        font-size: 12px;
        font-weight: 300;
    }
    .visitPop .in .visitTb td :-moz-placeholder {
        color: #aaaaaa;
        opacity: 1;
        font-family: 'Noto Sans KR' !important;
        font-size: 12px;
        font-weight: 300;
    }
    .visitPop .in .visitTb td ::-moz-placeholder {
        color: #aaaaaa;
        opacity: 1;
        font-family: 'Noto Sans KR' !important;
        font-size: 12px;
        font-weight: 300;
    }
    .visitPop .in .visitTb td :-ms-input-placeholder {
        color: #aaaaaa;
        font-family: 'Noto Sans KR' !important;
        font-size: 12px;
        font-weight: 300
    }
    .visitPopLast {}
    .visitPopLast .bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, .7);
    }
    .visitPopLast .in {
        position: fixed;
        left: 23px;
        top: 50%;
        margin: -83px 0 0 0;
        width: calc(100% - 46px);
        padding: 33px 0;
        z-index: 200;
        background: #fff;
        text-align: center;
    }
    .visitPopLast .in .tit01 {
        font-size: 13px;
        font-weight: 500;
        color: #000000;
        line-height: 13px;
        margin-bottom: 10px;
    }
    .visitPopLast .in .tit02 {
        font-size: 13px;
        font-weight: 300;
        color: #888888;
        line-height: 18px;
    }
    .visitPopLast .in .close {
        position: absolute;
        right: 15px;
        top: 15px;
        text-indent: -999em;
        background: url('../images/visit/close_m.png') center no-repeat;
        background-size: 14px auto;
        width: 14px;
        height: 14px;
    }
    .visitInfoPop .in {
        position: fixed;
        left: 50%;
        top: 50%;
        margin: 0 0 0 -165px;
        transform: translateY(-50%);
        width: 330px;
        z-index: 100;
    }
    .visitInfoPop .in .today {
        margin-bottom: 0;
    }
    .visitInfoPop .in .today a {
        text-align: right;
        padding-right: 18px;
        font-size: 12px;
        line-height: 12px;
        background-size: 10px auto;
    }
    .visitInfoPop .in .round .text {
        padding: 24px 15px 40px 15px;
        text-align: center;
    }
    .visitInfoPop .in .round .text .tit01 {
        font-size: 14px;
        color: #444444;
        font-weight: 300;
        padding-bottom: 15px;
        margin-bottom: 13px;
        background: url('../images/visit/visitBtn02.png') bottom center no-repeat;
        background-size: 20px auto;
    }
    .visitInfoPop .in .round .text .tit01 span {
        font-weight: 700;
    }
    .visitInfoPop .in .round .text .tit02 {
        font-size: 12px;
        color: #444444;
        font-weight: 300;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dashed #eaeaea;
    }
    .visitInfoPop .in .round .text .tit03 {
        font-size: 12px;
        color: #444444;
        font-weight: 300;
        font-family: 'Noto Sans KR' !important;
    }
    .visitInfoPop .in .btn {
        padding-top: 10px;
        text-align: center;
    }
    .visitInfoPop .in .btn a {
        font-size: 12px;
        color: #feffff;
        font-weight: 300;
        display: inline-block;
        vertical-align: top;
        position: relative;
        font-family: 'NotoSerifKr' !important;
    }
    .visitInfoPop .in .btn a:first-child {
        margin-right: 25px;
        padding-right: 30px;
    }
    .visitInfoPop .in .btn a:first-child:after {
        content: '';
        position: absolute;
        right: 0;
        top: 3px;
        width: 2px;
        height: 15px;
        background: #ffffff;
    }
    .visitPop .in .titVisit {
        font-size: 14px;
        line-height: 14px;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    .visitPop .in {
        left: 0;
        top: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        overflow-y: auto;
        padding: 30px 23px;
    }
    .visitPop .in .left {
        float: none;
        width: 100%;
        padding: 0;
    }
    .visitPop .in .right {
        float: none;
        width: 100%;
        margin-bottom: 30px;
        padding: 0;
    }
    .visitPop .in .title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
        color: #000000;
        font-weight: 500;
        padding-left: 22px;
        background: url('../images/visit/ico_visit01_m.png') left 2px no-repeat;
        background-size: 15px auto;
        ;
    }
    .visitPop .in .close {
        top: 30px
    }
    .visitPop .in .agreeVisit {
        margin-top: 15px;
        position: static;
        width: 100%;
    }
    .visitPop .in .agreeVisit .tit01 {
        font-size: 14px;
        line-height: 14px;
        color: #000000;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .visitPop .in .agreeVisit .tit02 {
        font-size: 12px;
        color: #aaaaaa;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .visitPop .in .agreeVisit .ck input {
        position: absolute;
        visibility: hidden;
    }
    .visitPop .in .agreeVisit .ck label {
        position: relative;
        padding-left: 22px;
        font-size: 13px;
        color: #222222;
        font-weight: 300;
    }
    .visitPop .in .agreeVisit .ck label:after {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 13px;
        height: 13px;
        border: 1px solid #222;
    }
    .visitPop .in .agreeVisit .ck input:checked+label:after {
        width: 15px;
        height: 15px;
        border: none;
        background: url('../images/visit/ico_visit01_m.png') left center no-repeat;
        background-size: 15px auto;
        ;
    }
    .visitPop .in .btnNext {
        text-align: right;
        margin-top: 20px;
    }
    .visitPop .in .btn01 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        height: 50px;
        line-height: 50px;
        width: 150px;
        background: #000000;
        font-size: 13px;
        font-weight: 500;
        color: #fff;
    }
    .visitPop .in .addRsvpList {
        margin-top: 20px;
    }
    .visitPop .in .addRsvpList ul li {
        margin-top: 15px;
    }
    .visitPop .in .addRsvpList ul li input {
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }
    .visitPop .in .addRsvpList ul li label {
        display: block;
        position: relative;
        padding-left: 25px;
    }
    .visitPop .in .addRsvpList ul li label:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #cccccc;
        border-radius: 50%;
    }
    .visitPop .in .addRsvpList ul li input:checked+label:before {
        content: '';
        position: absolute;
        left: 5px;
        top: 5px;
        width: 7px;
        height: 7px;
        background: #3b85ff;
        border-radius: 50%;
    }
    .visitPop .in .addRsvpList ul li input:checked+label:after {
        border: 1px solid #3b85ff;
    }
    .visitPop .in .addRsvpList ul li label em {
        display: block;
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 10px;
        font-weight: 500;
        color: #000000;
    }
    .visitPop .in .addRsvpList ul li label span {
        display: block;
        font-size: 11px;
        line-height: 11px;
        font-weight: 300;
        color: #aaaaaa;
    }
    .visitPop .in .radio label:before {
        background-size: 13px auto !important;
        margin-right: 0 !important;
    }
    .visitPop .in .radio label:after {
        background-size: 13px auto !important;
        margin-right: 0 !important;
    }
    .vReq {
        top: -7px;
        margin-left: 5px;
        width: 5px;
        height: 5px;
    }
    .visitInfoPop.v2 .in {
        margin: 0 0 0 -165px;
        width: 330px;
    }
    .visitInfoPop.v2 .in .round {
        border-radius: 16px;
        padding: 39px 25px 23px;
    }
    .visitInfoPop.v2 .in .tit01 {
        font-size: 18px;
        margin-bottom: 26px;
    }
    .visitInfoPop.v2 .in .txt01 {
        font-size: 14px;
        line-height: 1.52;
        padding-bottom: 20px;
        letter-spacing: -0.03em;
        word-break: keep-all;
    }
    /* .visitInfoPop.v2 .in .txt01 br {display: none;}
	.visitInfoPop.v2 .in .txt01 br:last-child {display: block;} */
    .visitInfoPop.v2 .in .part {
        padding: 23px 8px 31px
    }
    .visitInfoPop.v2 .in .wdList>li {
        font-size: 12px;
        padding-left: 20px;
        margin-bottom: 5px;
        line-height: 20px;
    }
    .visitInfoPop.v2 .in .wdList>li:before {
        width: 16px;
        height: 14px;
        background-size: 15px auto;
        top: 3px;
    }
    .visitInfoPop.v2 .in .wdList .people:before {
        background-image: url(../images/visit/icon_heart_m.png)
    }
    .visitInfoPop.v2 .in .wdList .date:before {
        background-image: url(../images/visit/icon_calendar_m.png)
    }
    .visitInfoPop.v2 .in .wdList .hall:before {
        background-image: url(../images/visit/icon_location2_m.png)
    }
    .visitInfoPop.v2 .btnClose {
        top: 10px;
        right: 10px;
        background-size: 14px auto;
    }
    .visitInfoPop.v2 .in .today {
        padding-top: 22px !important;
    }
    .visitInfoPop.v2 .in .today a {
        line-height: 15px !important;
        padding-left: 20px !important;
        font-size: 14px !important;
        background-image: url(../images/visit/icon_check_m.png) !important;
        background-size: 15px auto !important
    }
    .visitInfoPop.v2 .in .btns.t2 {
        font-size: 14px;
        height: 50px;
        border-radius: 8px;
    }
    .visitInfoPop.v2 .in .btns.t2 span.attend {
        padding-left: 17px
    }
    .visitInfoPop.v2 .in .btns.t2 span.attend:before {
        width: 12px;
        height: 15px;
        background-image: url(../images/visit/icon_attend_m.png);
        margin-top: -7px;
        background-size: 12px auto
    }
}

@media all and ( min-width:1400px) and ( max-height:900px) {
    .visitPop .in {
        height: 690px;
        overflow-y: auto;
        width: 570px;
    }
}